
* {
  /*border: solid 1px black;*/
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  margin-left: 10px;
  display: block;
  background-color: #bcd5d1;

}

.green {
  color: #648880;

}

.shipping,.billing {
  background-color: #5a5c51;

}

#shoppingCart {
  padding: 0px;
  clear:both;

}

h1{
  width: 100%;


}
.productPriceContainer {
  display:block;

}

.purchaseBox {
  border-bottom: 2px black solid;
  /*background-color: 	#D3D3D3;*/
  /*min-height: 250px;*/
  background-color: inherit;
  opacity: .8;

}

#shippingName {
  min-width: 75%;



}



button {
  display: inline-flex;
  align-items: center;
  top: 10px;
  width: 150px;
  padding:7.5px;


}

/*.btn {
  color: green;
  background-color: blue;
}*/


form {
  border: #A8A8A8 solid 1px;
  padding: 5px;
}

.billing {
  border-top: #A8A8A8 solid 3px

}

.shipping {
  padding-bottom: 10px;
}

#shippingAddress1, #shippingAddress2, #billingAddress1, #billingAddress2 {
  width:90%;
}

.row {
  padding: 5px;
}

#shoppingCart {
  float:right;

}

.product{
  width: 100%;
  display:block;
}

.prices{
  width: 100%;
  display: block;
}

.productholder {
  /*min-height: 250px;*/

}

.checkout {
  /*min-height: 300px;*/
}

footer {
  background: grey;
}

footer ul {
  list-style: none;
  padding: 0;
}

/* social media icon */
.icon {
  display: inline-block;
}

/* fontawsome icon */
i {
  padding-right: 10px;
}

.clear {
  clear: both;
}
img.sale {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

header {
  background-color: #c9c9c9;
}
header nav {
  float: left;
  padding-bottom: 2px;
}
header h1 {
  position: relative;
}
#shoppingCart {
  color: white;
  float: right;
}
header nav a:hover {
  color: #648880;
}
header nav a {
  color: #89bdd3;
}
a.first {
  border-right: 1px solid;
}
a.second {
  border-left: 1px solid;

body {
  width: 100%;
  height:auto;
}

header {
  height: 5%;
  width: 100%;
  background-color:green;

}
