header {
  background: url(https://chrisaam.files.wordpress.com/2015/03/wallpaper-2846361.jpg);
  border: 2px dashed  #ffffff;
  box-shadow: 0 0 0 8px #003366;
  position: relative;
  z-index: 2000;
}

ul li ul.dropdown-menu {
        min-width: 100%;
        background: #009966;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
        color: white;
    }

ul li:hover ul.dropdown-menu {
        display: block;
    }

.nav > li > a:hover {
  background: #009966;
}

.nav > li > a {
  color: white;
  margin: 10px;
}

#logo {
  float: right;
  margin-top: 20px;
}

.shop-cart-search-bar {
  float: right;
  margin-top: 10px;
}

/***CAROUSEL CSS***/

#btn-prev {
  float: left;
  padding: 15px;
  background: grey;
  text-align: center;
  z-index: 10;
  position: relative;
}

#btn-next {
  float: right;
  padding: 15px;
  background: grey;
  text-align: center;
  z-index: 10;
  position: relative;
}

#carousel {
  height: 250px;
  background: #003366;
  border: 2px solid black;
}
.carouselbox {
  width: 100%;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  overflow: hidden;
}

.content li {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;

}

.active {
  height: 100%;
  width: 100%;
  margin: auto;

}
.active li {
  position: absolute;
  top: 50px;
  opacity: 0;
  transform: scale(0);
  transition: 1s;


}
.active li.current {
  opacity: 1;
  transform: scale(1);
  transition: 1s;


}

.content img {
  width: 100%;
  display: block;
  height: 250px;
}





/***CAROUSEL CSS***/

/***FOOTER CSS***/

footer {
  background: grey;
}

#map {
  height: 150px;
}

/***FOOTER CSS***/

/***EMAIL SIGNUP CSS***/

#email-input {
  height: 50px;
  margin: 5px;
}

#email-label {
  font-size: 21px;
  margin-top: 10px;
}

#signup-btn {
  margin: 7px;
}

/***EMAIL SIGNUP CSS***/
