header {
  background-color: black;
}
header nav {
  background-color: white;
  opacity: 0.8;
}
header h1 {
  float: left;
}
#shoppingCart {
  background-color: lightgrey;
  opacity: 0.8;
  color: white;
  float: right;
}
