body {
  background-color: #bcd5d1;
}
#products .productBox {
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
#filteredProducts {
  visibility: hidden;
}
#productInfo {
  background-color: #5a5c51;
}
#productInfo p, span {
  color: #f0eceb;
}
h1 {
  color: white;
}
.sortBy2 {
  margin-bottom: 10px;
  float: right;
}
h2 {
  color: #648880;
}
/*footer styles*/

footer {
  background: #c9c9c9;
}

footer ul {
  list-style: none;
  padding: 0;
}

/* social media icon */
.icon {
  display: inline-block;
}

/* fontawsome icon */
i {
  padding-right: 10px;
}

.clear {
  clear: both;
}
img.sale {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

/*Header styles*/

header {
  background-color: #c9c9c9;
}
header nav {
  float: left;
  padding-bottom: 2px;
}
header h1 {
  position: relative;
}
#shoppingCart {
  color: white;
  float: right;
}
header nav a:hover {
  color: #648880;
}
header nav a {
  color: #89bdd3;
}
a.first {
  border-right: 1px solid;
}
a.second {
  border-left: 1px solid;
}
